.circleIconBtn {
	width: 35px;
	height: 35px;
	padding: 5px;
	margin: 10px;
	border-radius: 20px;
	outline: none;
	letter-spacing: 0;
}

.comment {
	padding: 1em 3em 2em 3em;
	margin: 0 0 1em 0;
}

.comment-post-time {
	right: 20px;
	position: absolute;
}

.comment-username {
	background: pink;
	width: 82%;
	padding: 3px;
	border-radius: 10px;
}

.comment-file-btn {
	left: 10px;
    top: 45px;
    position: absolute;
    border: none;
    font-size: 25px;
    color: green;
}

.comment-update-btn {
	right: 70px;
	position: absolute;
}

.comment-del-btn {
	right: 20px;
	position: absolute;
}

.comment-modal-size {
	top: 20%;
	width: 35%;
}

.comment-non-display {
	display: none;
}

.comment-textArea {
	resize: vertical;
}